body{
	background: url('https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.180.1440.1440a/s640x640/67500287_2369370536493903_5228656947287595264_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=XucFZE2vyTkAX_beSaG&oh=f2d59e73aaa2ab9ef2aabd6e87e47e42&oe=5EA8EDC4');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}
li a{
	display: block;
	color: #000;
	padding: 20% 10px;
	text-decoration: none;

}
li a.active{
	background-color: #FE9A2E;
	color: white;

}
li a:hover:not(.active)
{
	background-color: #FE9A2E;
	color: white;

}


